In [11]:
import pandas as pd
import json
import numpy as np

In [12]:
men_url = "http://115.78.93.252/TTU/pool/donghuynh0/data_visualization_2025/final_proejct/men_results.csv"
women_url = "http://115.78.93.252/TTU/pool/donghuynh0/data_visualization_2025/final_proejct/women_results.csv"

In [13]:
men_df = pd.read_csv(men_url)
women_df = pd.read_csv(women_url)

In [14]:
men_df = men_df.drop("Unnamed: 0", axis=1)
women_df = women_df.drop("Unnamed: 0", axis=1)

In [15]:
with open('continent_mapping.json', 'r') as f:
    continent_mapping = json.load(f)

In [16]:
continent_mapping

{'Scotland': 'Europe',
 'England': 'Europe',
 'Wales': 'Europe',
 'Northern Ireland': 'Europe',
 'Austria': 'Europe',
 'Hungary': 'Europe',
 'Belgium': 'Europe',
 'France': 'Europe',
 'Netherlands': 'Europe',
 'Czechoslovakia': 'Europe',
 'Switzerland': 'Europe',
 'Sweden': 'Europe',
 'Germany': 'Europe',
 'Italy': 'Europe',
 'Norway': 'Europe',
 'Finland': 'Europe',
 'Luxembourg': 'Europe',
 'Russia': 'Europe',
 'Denmark': 'Europe',
 'Catalonia': 'Europe',
 'Basque Country': 'Europe',
 'Poland': 'Europe',
 'Yugoslavia': 'Europe',
 'Romania': 'Europe',
 'Latvia': 'Europe',
 'Galicia': 'Europe',
 'Portugal': 'Europe',
 'Andalusia': 'Europe',
 'Lithuania': 'Europe',
 'Turkey': 'Europe',
 'Bulgaria': 'Europe',
 'Belarus': 'Europe',
 'Republic of Ireland': 'Europe',
 'Greece': 'Europe',
 'Silesia': 'Europe',
 'Guadeloupe': 'Europe',
 'Slovakia': 'Europe',
 'Croatia': 'Europe',
 'Iceland': 'Europe',
 'Albania': 'Europe',
 'Czech Republic': 'Europe',
 'San Marino': 'Europe',
 'Slovenia': 'Europe',
 'Moldova': 'Europe',
 'Ukraine': 'Europe',
 'Armenia': 'Asia',
 'Gibraltar': 'Europe',
 'North Macedonia': 'Europe',
 'Serbia': 'Europe',
 'Bosnia and Herzegovina': 'Europe',
 'Andorra': 'Europe',
 'Monaco': 'Europe',
 'Liechtenstein': 'Europe',
 'Faroe Islands': 'Europe',
 'Malta': 'Europe',
 'Cyprus': 'Europe',
 'Kosovo': 'Europe',
 'Isle of Man': 'Europe',
 'Guernsey': 'Europe',
 'Jersey': 'Europe',
 'Åland Islands': 'Europe',
 'Vatican City': 'Europe',
 'Estonia': 'Europe',
 'Spain': 'Europe',
 'Brittany': 'Europe',
 'Central Spain': 'Europe',
 'Martinique': 'Europe',
 'Kernow': 'Europe',
 'Saarland': 'Europe',
 'German DR': 'Europe',
 'Réunion': 'Europe',
 'Ynys Môn': 'Europe',
 'Shetland': 'Europe',
 'Isle of Wight': 'Europe',
 'Corsica': 'Europe',
 'Gotland': 'Europe',
 'Saare County': 'Europe',
 'Orkney': 'Europe',
 'Western Isles': 'Europe',
 'Menorca': 'Europe',
 'Provence': 'Europe',
 'Padania': 'Europe',
 'Occitania': 'Europe',
 'Sápmi': 'Europe',
 'County of Nice': 'Europe',
 'Székely Land': 'Europe',
 'Felvidék': 'Europe',
 'Kárpátalja': 'Europe',
 'Yorkshire': 'Europe',
 'Parishes of Jersey': 'Europe',
 'Raetia': 'Europe',
 'Madrid': 'Europe',
 'Ellan Vannin': 'Europe',
 'Frøya': 'Europe',
 'Hitra': 'Europe',
 'Rhodes': 'Europe',
 'Canary Islands': 'Europe',
 'Montenegro': 'Europe',
 'Sark': 'Europe',
 'Alderney': 'Europe',
 'Republic of St. Pauli': 'Europe',
 'Gozo': 'Europe',
 'United States': 'North America',
 'Canada': 'North America',
 'Mexico': 'North America',
 'Costa Rica': 'North America',
 'Guatemala': 'North America',
 'Honduras': 'North America',
 'El Salvador': 'North America',
 'Panama': 'North America',
 'Nicaragua': 'North America',
 'Cuba': 'North America',
 'Haiti': 'North America',
 'Dominican Republic': 'North America',
 'Jamaica': 'North America',
 'Trinidad and Tobago': 'North America',
 'Barbados': 'North America',
 'Bermuda': 'North America',
 'Belize': 'North America',
 'Bahamas': 'North America',
 'Puerto Rico': 'North America',
 'Guam': 'Oceania',
 'Greenland': 'North America',
 'Aruba': 'North America',
 'Curaçao': 'North America',
 'Dominica': 'North America',
 'Saint Kitts and Nevis': 'North America',
 'Saint Lucia': 'North America',
 'Grenada': 'North America',
 'Saint Vincent and the Grenadines': 'North America',
 'Antigua and Barbuda': 'North America',
 'Anguilla': 'North America',
 'Cayman Islands': 'North America',
 'Turks and Caicos Islands': 'North America',
 'British Virgin Islands': 'North America',
 'United States Virgin Islands': 'North America',
 'Saint Martin': 'North America',
 'Sint Maarten': 'North America',
 'Montserrat': 'North America',
 'Saint Pierre and Miquelon': 'North America',
 'Bonaire': 'North America',
 'Argentina': 'South America',
 'Uruguay': 'South America',
 'Brazil': 'South America',
 'Paraguay': 'South America',
 'Chile': 'South America',
 'Bolivia': 'South America',
 'Peru': 'South America',
 'Colombia': 'South America',
 'Ecuador': 'South America',
 'Venezuela': 'South America',
 'Guyana': 'South America',
 'Suriname': 'South America',
 'French Guiana': 'South America',
 'Falkland Islands': 'South America',
 'Mapuche': 'South America',
 'Aymara': 'South America',
 'Egypt': 'Africa',
 'Kenya': 'Africa',
 'Uganda': 'Africa',
 'Zimbabwe': 'Africa',
 'Zambia': 'Africa',
 'Tanzania': 'Africa',
 'South Africa': 'Africa',
 'Nigeria': 'Africa',
 'Ghana': 'Africa',
 'Senegal': 'Africa',
 'Morocco': 'Africa',
 'Tunisia': 'Africa',
 'Algeria': 'Africa',
 'Cameroon': 'Africa',
 'Ivory Coast': 'Africa',
 'Mali': 'Africa',
 'Angola': 'Africa',
 'Mozambique': 'Africa',
 'Madagascar': 'Africa',
 'Sudan': 'Africa',
 'Libya': 'Africa',
 'Ethiopia': 'Africa',
 'Djibouti': 'Africa',
 'DR Congo': 'Africa',
 'Congo': 'Africa',
 'Gabon': 'Africa',
 'Benin': 'Africa',
 'Togo': 'Africa',
 'Burkina Faso': 'Africa',
 'Niger': 'Africa',
 'Chad': 'Africa',
 'Central African Republic': 'Africa',
 'Rwanda': 'Africa',
 'Burundi': 'Africa',
 'Malawi': 'Africa',
 'Lesotho': 'Africa',
 'Eswatini': 'Africa',
 'Botswana': 'Africa',
 'Namibia': 'Africa',
 'Mauritania': 'Africa',
 'Guinea': 'Africa',
 'Sierra Leone': 'Africa',
 'Liberia': 'Africa',
 'Gambia': 'Africa',
 'Cape Verde': 'Africa',
 'São Tomé and Príncipe': 'Africa',
 'Equatorial Guinea': 'Africa',
 'Seychelles': 'Africa',
 'Comoros': 'Africa',
 'Mauritius': 'Africa',
 'Zanzibar': 'Africa',
 'Western Sahara': 'Africa',
 'Eritrea': 'Africa',
 'Mayotte': 'Africa',
 'Saint Helena': 'Africa',
 'Darfur': 'Africa',
 'Barawa': 'Africa',
 'South Sudan': 'Africa',
 'Somaliland': 'Africa',
 'Kabylia': 'Africa',
 'Guinea-Bissau': 'Africa',
 'Somalia': 'Africa',
 'Japan': 'Asia',
 'China PR': 'Asia',
 'South Korea': 'Asia',
 'North Korea': 'Asia',
 'India': 'Asia',
 'Pakistan': 'Asia',
 'Bangladesh': 'Asia',
 'Sri Lanka': 'Asia',
 'Afghanistan': 'Asia',
 'Iran': 'Asia',
 'Iraq': 'Asia',
 'Saudi Arabia': 'Asia',
 'Kuwait': 'Asia',
 'Qatar': 'Asia',
 'United Arab Emirates': 'Asia',
 'Oman': 'Asia',
 'Yemen': 'Asia',
 'Syria': 'Asia',
 'Lebanon': 'Asia',
 'Jordan': 'Asia',
 'Palestine': 'Asia',
 'Bahrain': 'Asia',
 'Myanmar': 'Asia',
 'Thailand': 'Asia',
 'Vietnam': 'Asia',
 'Cambodia': 'Asia',
 'Laos': 'Asia',
 'Malaysia': 'Asia',
 'Singapore': 'Asia',
 'Indonesia': 'Asia',
 'Philippines': 'Asia',
 'Brunei': 'Asia',
 'Timor-Leste': 'Asia',
 'Maldives': 'Asia',
 'Bhutan': 'Asia',
 'Nepal': 'Asia',
 'Mongolia': 'Asia',
 'Taiwan': 'Asia',
 'Macau': 'Asia',
 'Hong Kong': 'Asia',
 'Kazakhstan': 'Asia',
 'Uzbekistan': 'Asia',
 'Turkmenistan': 'Asia',
 'Tajikistan': 'Asia',
 'Kyrgyzstan': 'Asia',
 'Georgia': 'Asia',
 'Azerbaijan': 'Asia',
 'Israel': 'Asia',
 'Manchukuo': 'Asia',
 'Vietnam Republic': 'Asia',
 'North Vietnam': 'Asia',
 'Yemen DPR': 'Asia',
 'Northern Cyprus': 'Asia',
 'Tibet': 'Asia',
 'Iraqi Kurdistan': 'Asia',
 'Western Armenia': 'Asia',
 'Chagos Islands': 'Asia',
 'United Koreans in Japan': 'Asia',
 'Brunei Darussalam': 'Asia',
 'Arameans Suryoye': 'Asia',
 'Australia': 'Oceania',
 'New Zealand': 'Oceania',
 'Fiji': 'Oceania',
 'Papua New Guinea': 'Oceania',
 'Solomon Islands': 'Oceania',
 'Vanuatu': 'Oceania',
 'New Caledonia': 'Oceania',
 'Tahiti': 'Oceania',
 'Samoa': 'Oceania',
 'American Samoa': 'Oceania',
 'Tonga': 'Oceania',
 'Cook Islands': 'Oceania',
 'Kiribati': 'Oceania',
 'Tuvalu': 'Oceania',
 'Wallis Islands and Futuna': 'Oceania',
 'Niue': 'Oceania',
 'Micronesia': 'Oceania',
 'Palau': 'Oceania',
 'Northern Mariana Islands': 'Oceania',
 'Western Australia': 'Oceania',
 'Romani people': 'Europe',
 'Yoruba Nation': 'Africa',
 'Biafra': 'Africa',
 'Tamil Eelam': 'Asia',
 'Abkhazia': 'Asia',
 'South Ossetia': 'Asia',
 'Artsakh': 'Asia',
 'Găgăuzia': 'Europe',
 'Cascadia': 'North America',
 'Matabeleland': 'Africa',
 'Panjab': 'Asia',
 'Chameria': 'Europe'}

In [181]:
men_df['home_continent'] = men_df['home_team'].map(continent_mapping)
men_df['away_continent'] = men_df['away_team'].map(continent_mapping)

women_df['home_continent'] = women_df['home_team'].map(continent_mapping)
women_df['away_continent'] = women_df['away_team'].map(continent_mapping)

In [182]:
men_df['goal_difference'] = np.abs(men_df['home_score'] - men_df['away_score'])
men_df['winner'] = np.where(men_df['home_score'] > men_df['away_score'], men_df['home_team'],
                   np.where(men_df['away_score'] > men_df['home_score'], men_df['away_team'],
                   'Draw'))

In [183]:
women_df['goal_difference'] = np.abs(women_df['home_score'] - women_df['away_score'])
women_df['winner'] = np.where(women_df['home_score'] > women_df['away_score'], women_df['home_team'],
                   np.where(women_df['away_score'] > women_df['home_score'], women_df['away_team'],
                   'Draw'))

In [189]:
men_df['date'] = pd.to_datetime(men_df['date'])
men_df['year'] = men_df['date'].dt.year

In [192]:
women_df['date'] = pd.to_datetime(women_df['date'])
women_df['year'] = women_df['date'].dt.year

In [190]:
men_df

,date,home_team,away_team,home_score,away_score,tournament,home_continent,away_continent,goal_difference,winner,year
0,1872-11-30,Scotland,England,0,0,Friendly,Europe,Europe,0,Draw,1872
1,1873-03-08,England,Scotland,4,2,Friendly,Europe,Europe,2,England,1873
2,1874-03-07,Scotland,England,2,1,Friendly,Europe,Europe,1,Scotland,1874
3,1875-03-06,England,Scotland,2,2,Friendly,Europe,Europe,0,Draw,1875
4,1876-03-04,Scotland,England,3,0,Friendly,Europe,Europe,3,Scotland,1876
...,...,...,...,...,...,...,...,...,...,...,...
44348,2022-12-14,Thailand,Taiwan,0,1,Friendly,Asia,Asia,1,Taiwan,2022
44349,2022-12-14,Vietnam,Philippines,1,0,Friendly,Asia,Asia,1,Vietnam,2022
44350,2022-12-17,Croatia,Morocco,2,1,FIFA World Cup,Europe,Africa,1,Croatia,2022
44351,2022-12-17,Singapore,Maldives,3,1,Friendly,Asia,Asia,2,Singapore,2022
44352,2022-12-18,Argentina,France,3,3,FIFA World Cup,South America,Europe,0,Draw,2022

In [193]:
women_df

,date,home_team,away_team,home_score,away_score,tournament,home_continent,away_continent,goal_difference,winner,year
0,1969-11-01,Italy,France,1,0,Euro,Europe,Europe,1,Italy,1969
1,1969-11-01,Denmark,England,4,3,Euro,Europe,Europe,1,Denmark,1969
2,1969-11-02,England,France,2,0,Euro,Europe,Europe,2,England,1969
3,1969-11-02,Italy,Denmark,3,1,Euro,Europe,Europe,2,Italy,1969
4,1975-08-25,Thailand,Australia,3,2,AFC Championship,Asia,Oceania,1,Thailand,1975
...,...,...,...,...,...,...,...,...,...,...,...
4879,2022-07-22,Sweden,Belgium,1,0,UEFA Euro,Europe,Europe,1,Sweden,2022
4880,2022-07-23,France,Netherlands,1,0,UEFA Euro,Europe,Europe,1,France,2022
4881,2022-07-26,England,Sweden,4,0,UEFA Euro,Europe,Europe,4,England,2022
4882,2022-07-27,Germany,France,2,1,UEFA Euro,Europe,Europe,1,Germany,2022
4883,2022-07-31,England,Germany,2,1,UEFA Euro,Europe,Europe,1,England,2022

In [196]:
men_df[men_df['goal_difference'] == men_df['goal_difference'].max()]

,date,home_team,away_team,home_score,away_score,tournament,home_continent,away_continent,goal_difference,winner,year
24160,2001-04-11,Australia,American Samoa,31,0,FIFA World Cup qualification,Oceania,Oceania,31,Australia,2001

In [199]:
women_vietnam = women_df[(women_df['home_team'] == 'Vietnam') | (women_df['away_team'] == 'Vietnam')]

In [204]:
women_vietnam.head()

,date,home_team,away_team,home_score,away_score,tournament,home_continent,away_continent,goal_difference,winner,year
1122,1999-11-09,North Korea,Vietnam,12,1,AFC Championship,Asia,Asia,11,North Korea,1999
1131,1999-11-11,Taiwan,Vietnam,4,1,AFC Championship,Asia,Asia,3,Taiwan,1999
1139,1999-11-13,India,Vietnam,0,3,AFC Championship,Asia,Asia,3,Vietnam,1999
1145,1999-11-15,Vietnam,Malaysia,4,0,AFC Championship,Asia,Asia,4,Vietnam,1999
1343,2001-12-06,Vietnam,Guam,2,0,AFC Championship,Asia,Oceania,2,Vietnam,2001

In [206]:
women_vietnam_thailand = women_vietnam[(women_vietnam['home_team'] == 'Thailand') |
                                       (women_vietnam['away_team'] == 'Thailand')]
women_vietnam_thailand

,date,home_team,away_team,home_score,away_score,tournament,home_continent,away_continent,goal_difference,winner,year
2293,2008-06-01,Vietnam,Thailand,1,0,AFC Asian Cup,Asia,Asia,1,Vietnam,2008
3282,2014-05-21,Vietnam,Thailand,1,2,AFC Asian Cup,Asia,Asia,1,Thailand,2014
4018,2018-01-23,Thailand,Vietnam,2,0,Four Nations Tournament,Asia,Asia,2,Thailand,2018
4809,2022-02-02,Thailand,Vietnam,0,2,AFC Asian Cup,Asia,Asia,2,Vietnam,2022

In [214]:
men_vietnam = men_df[(men_df['home_team'] == 'Vietnam') | (men_df['away_team'] == 'Vietnam')]

In [209]:
men_vietnam_thailand = men_vietnam[(men_vietnam['home_team'] == 'Thailand') |
                                       (men_vietnam['away_team'] == 'Thailand')]
men_vietnam_thailand

,date,home_team,away_team,home_score,away_score,tournament,home_continent,away_continent,goal_difference,winner,year
20217,1996-09-13,Thailand,Vietnam,4,2,AFF Championship,Asia,Asia,2,Thailand,1996
21850,1998-09-03,Vietnam,Thailand,3,0,AFF Championship,Asia,Asia,3,Vietnam,1998
25560,2002-12-08,Thailand,Vietnam,2,1,Friendly,Asia,Asia,1,Thailand,2002
25614,2002-12-27,Vietnam,Thailand,0,4,AFF Championship,Asia,Asia,4,Thailand,2002
29255,2006-12-24,Thailand,Vietnam,2,1,King's Cup,Asia,Asia,1,Thailand,2006
29266,2006-12-30,Thailand,Vietnam,3,1,King's Cup,Asia,Asia,2,Thailand,2006
29319,2007-01-24,Vietnam,Thailand,0,2,AFF Championship,Asia,Asia,2,Thailand,2007
29324,2007-01-28,Thailand,Vietnam,0,0,AFF Championship,Asia,Asia,0,Draw,2007
31243,2008-11-16,Vietnam,Thailand,2,2,VFF Cup,Asia,Asia,0,Draw,2008
31308,2008-12-06,Thailand,Vietnam,2,0,AFF Championship,Asia,Asia,2,Thailand,2008
31335,2008-12-24,Thailand,Vietnam,1,2,AFF Championship,Asia,Asia,1,Vietnam,2008
31339,2008-12-28,Vietnam,Thailand,1,1,AFF Championship,Asia,Asia,0,Draw,2008
35126,2012-11-30,Thailand,Vietnam,3,1,AFF Championship,Asia,Asia,2,Thailand,2012
37296,2015-05-24,Thailand,Vietnam,1,0,FIFA World Cup qualification,Asia,Asia,1,Thailand,2015
37881,2015-10-13,Vietnam,Thailand,0,3,FIFA World Cup qualification,Asia,Asia,3,Thailand,2015
41512,2019-09-05,Thailand,Vietnam,0,0,FIFA World Cup qualification,Asia,Asia,0,Draw,2019
42028,2019-11-19,Vietnam,Thailand,0,0,FIFA World Cup qualification,Asia,Asia,0,Draw,2019

In [212]:
men_vietnam_thailand[men_vietnam_thailand['tournament'] == 'FIFA World Cup qualification']

,date,home_team,away_team,home_score,away_score,tournament,home_continent,away_continent,goal_difference,winner,year
37296,2015-05-24,Thailand,Vietnam,1,0,FIFA World Cup qualification,Asia,Asia,1,Thailand,2015
37881,2015-10-13,Vietnam,Thailand,0,3,FIFA World Cup qualification,Asia,Asia,3,Thailand,2015
41512,2019-09-05,Thailand,Vietnam,0,0,FIFA World Cup qualification,Asia,Asia,0,Draw,2019
42028,2019-11-19,Vietnam,Thailand,0,0,FIFA World Cup qualification,Asia,Asia,0,Draw,2019

In [210]:
friendly_vietnam = men_vietnam[men_vietnam['tournament'] == 'Friendly']
friendly_vietnam

,date,home_team,away_team,home_score,away_score,tournament,home_continent,away_continent,goal_difference,winner,year
2928,1949-01-16,Vietnam,South Korea,3,3,Friendly,Asia,Asia,0,Draw,1949
19027,1995-01-04,Vietnam,Estonia,1,0,Friendly,Asia,Europe,1,Vietnam,1995
22046,1998-11-19,Hong Kong,Vietnam,1,1,Friendly,Asia,Asia,0,Draw,1998
22094,1999-01-29,Vietnam,Singapore,1,0,Friendly,Asia,Asia,1,Vietnam,1999
23563,2000-08-25,Vietnam,Sri Lanka,2,2,Friendly,Asia,Asia,0,Draw,2000
25532,2002-11-27,Sri Lanka,Vietnam,1,2,Friendly,Asia,Asia,1,Vietnam,2002
25536,2002-11-29,Sri Lanka,Vietnam,1,1,Friendly,Asia,Asia,0,Draw,2002
25544,2002-12-01,Sri Lanka,Vietnam,2,2,Friendly,Asia,Asia,0,Draw,2002
25560,2002-12-08,Thailand,Vietnam,2,1,Friendly,Asia,Asia,1,Thailand,2002
25660,2003-02-12,Albania,Vietnam,5,0,Friendly,Europe,Asia,5,Albania,2003
27226,2004-08-20,Vietnam,Myanmar,5,0,Friendly,Asia,Asia,5,Vietnam,2004
27229,2004-08-24,Vietnam,India,2,1,Friendly,Asia,Asia,1,Vietnam,2004
29694,2007-06-24,Vietnam,Jamaica,3,0,Friendly,Asia,North America,3,Vietnam,2007
29711,2007-06-30,Vietnam,Bahrain,5,3,Friendly,Asia,Asia,2,Vietnam,2007
30691,2008-06-11,Indonesia,Vietnam,1,0,Friendly,Asia,Asia,1,Indonesia,2008
31088,2008-10-01,Vietnam,Myanmar,2,3,Friendly,Asia,Asia,1,Myanmar,2008
31160,2008-10-14,Vietnam,Singapore,0,0,Friendly,Asia,Asia,0,Draw,2008
31639,2009-05-31,Kuwait,Vietnam,0,1,Friendly,Asia,Asia,1,Vietnam,2009
32112,2009-10-20,Vietnam,Turkmenistan,1,0,Friendly,Asia,Asia,1,Vietnam,2009
32117,2009-10-24,Vietnam,Singapore,2,2,Friendly,Asia,Asia,0,Draw,2009
32794,2010-09-24,Vietnam,North Korea,0,0,Friendly,Asia,Asia,0,Draw,2010
32838,2010-10-08,India,Vietnam,3,1,Friendly,Asia,Asia,2,India,2010
32915,2010-10-12,Kuwait,Vietnam,3,1,Friendly,Asia,Asia,2,Kuwait,2010
33918,2011-10-07,Japan,Vietnam,1,0,Friendly,Asia,Asia,1,Japan,2011
34542,2012-06-08,China PR,Vietnam,3,0,Friendly,Asia,Asia,3,China PR,2012
34585,2012-06-10,Hong Kong,Vietnam,1,2,Friendly,Asia,Asia,1,Vietnam,2012
34844,2012-09-11,Malaysia,Vietnam,0,2,Friendly,Asia,Asia,2,Vietnam,2012
35014,2012-10-16,Vietnam,Indonesia,0,0,Friendly,Asia,Asia,0,Draw,2012
35029,2012-11-03,Vietnam,Malaysia,1,0,Friendly,Asia,Asia,1,Vietnam,2012
35954,2013-10-09,Qatar,Vietnam,1,2,Friendly,Asia,Asia,1,Vietnam,2013
36563,2014-07-02,Vietnam,Myanmar,6,0,Friendly,Asia,Asia,6,Vietnam,2014
36669,2014-09-06,Vietnam,Hong Kong,3,1,Friendly,Asia,Asia,2,Vietnam,2014
36888,2014-11-09,Vietnam,Palestine,1,3,Friendly,Asia,Asia,2,Palestine,2014
36962,2014-11-16,Vietnam,Malaysia,3,1,Friendly,Asia,Asia,2,Vietnam,2014
37281,2015-05-17,Vietnam,North Korea,1,1,Friendly,Asia,Asia,0,Draw,2015
38379,2016-05-31,Vietnam,Syria,2,0,Friendly,Asia,Asia,2,Vietnam,2016
38428,2016-06-03,Vietnam,Hong Kong,2,2,Friendly,Asia,Asia,0,Draw,2016
38486,2016-06-06,Singapore,Vietnam,0,3,Friendly,Asia,Asia,3,Vietnam,2016
38771,2016-10-06,Vietnam,North Korea,5,2,Friendly,Asia,Asia,3,Vietnam,2016
38813,2016-10-09,Indonesia,Vietnam,2,2,Friendly,Asia,Asia,0,Draw,2016
38885,2016-11-08,Vietnam,Indonesia,3,2,Friendly,Asia,Asia,1,Vietnam,2016
39105,2017-03-22,Vietnam,Taiwan,1,1,Friendly,Asia,Asia,0,Draw,2017
40879,2018-12-25,Vietnam,North Korea,1,1,Friendly,Asia,Asia,0,Draw,2018
40891,2018-12-31,Philippines,Vietnam,2,4,Friendly,Asia,Asia,2,Vietnam,2018
42567,2021-05-31,Jordan,Vietnam,1,1,Friendly,Asia,Asia,0,Draw,2021
43763,2022-06-01,Vietnam,Afghanistan,2,0,Friendly,Asia,Asia,2,Vietnam,2022
44050,2022-09-21,Vietnam,Singapore,4,0,Friendly,Asia,Asia,4,Vietnam,2022
44173,2022-09-27,Vietnam,India,3,0,Friendly,Asia,Asia,3,Vietnam,2022
44349,2022-12-14,Vietnam,Philippines,1,0,Friendly,Asia,Asia,1,Vietnam,2022

In [211]:
men_vietnam['tournament'].value_counts()

tournament
AFF Championship                64
FIFA World Cup qualification    56
Friendly                        49
AFC Asian Cup qualification     30
AFC Asian Cup                    9
VFF Cup                          6
King's Cup                       4
Dunhill Cup                      3
Name: count, dtype: int64

In [215]:
men_vietnam[men_vietnam['winner']=='Vietnam']

,date,home_team,away_team,home_score,away_score,tournament,home_continent,away_continent,goal_difference,winner,year
17925,1993-04-16,Vietnam,Indonesia,1,0,FIFA World Cup qualification,Asia,Asia,1,Vietnam,1993
19027,1995-01-04,Vietnam,Estonia,1,0,Friendly,Asia,Europe,1,Vietnam,1995
20111,1996-08-04,Vietnam,Taiwan,4,1,AFC Asian Cup qualification,Asia,Asia,3,Vietnam,1996
20114,1996-08-07,Vietnam,Guam,9,0,AFC Asian Cup qualification,Asia,Oceania,9,Vietnam,1996
20190,1996-09-02,Cambodia,Vietnam,1,3,AFF Championship,Asia,Asia,2,Vietnam,1996
...,...,...,...,...,...,...,...,...,...,...,...
43541,2022-02-01,Vietnam,China PR,3,1,FIFA World Cup qualification,Asia,Asia,2,Vietnam,2022
43763,2022-06-01,Vietnam,Afghanistan,2,0,Friendly,Asia,Asia,2,Vietnam,2022
44050,2022-09-21,Vietnam,Singapore,4,0,Friendly,Asia,Asia,4,Vietnam,2022
44173,2022-09-27,Vietnam,India,3,0,Friendly,Asia,Asia,3,Vietnam,2022
44349,2022-12-14,Vietnam,Philippines,1,0,Friendly,Asia,Asia,1,Vietnam,2022

In [8]:
men_df['tournament'].unique()

array(['Friendly', 'British Home Championship', 'Évence Coppée Trophy',
       'Copa Lipton', 'Copa Newton', 'Copa Premio Honor Argentino',
       'Copa Premio Honor Uruguayo', 'Copa Roca', 'Copa América',
       'Copa Chevallier Boutell', 'Nordic Championship',
       'Central European International Cup', 'Baltic Cup', 'Balkan Cup',
       'FIFA World Cup', 'Copa Rio Branco',
       'FIFA World Cup qualification', 'Bolivarian Games',
       'CCCF Championship', 'NAFC Championship', 'Copa Oswaldo Cruz',
       'Pan American Championship', 'Copa del Pacífico',
       "Copa Bernardo O'Higgins", 'AFC Asian Cup qualification',
       'Atlantic Cup', 'AFC Asian Cup', 'African Cup of Nations',
       'Copa Paz del Chaco', 'Merdeka Tournament',
       'UEFA Euro qualification', 'UEFA Euro',
       'Windward Islands Tournament',
       'African Cup of Nations qualification', 'Vietnam Independence Cup',
       'Copa Carlos Dittborn', 'Phillip Seaga Cup',
       'CONCACAF Championship', 'Copa Juan Pinto Durán', 'Arab Cup',
       'South Pacific Games', 'CONCACAF Championship qualification',
       'Copa Artigas', 'GaNEFo', "King's Cup", 'Gulf Cup',
       'Indonesia Tournament', 'Korea Cup', 'Palestine Cup',
       'Brazil Independence Cup', 'Copa Ramón Castilla',
       'Oceania Nations Cup', 'CECAFA Cup', 'Kuneitra Cup',
       'Copa Félix Bogado', 'Real Madrid 75th Anniversary Cup',
       'Beijing International Friendship Tournament', 'Kirin Cup',
       'CFU Caribbean Cup qualification', 'CFU Caribbean Cup',
       'Amílcar Cabral Cup', 'FIFA 75th Anniversary Cup',
       'Guangzhou International Friendship Tournament', 'Mundialito',
       'West African Cup', 'Nehru Cup', 'Merlion Cup', 'Great Wall Cup',
       'UDEAC Cup', 'Rous Cup', 'CONMEBOL–UEFA Cup of Champions',
       'Lunar New Year Cup', 'Arab Cup qualification',
       'Tournoi de France', 'Malta International Tournament',
       'Matthews Cup', 'Tournament Burkina Faso', 'Island Games',
       'NAFU Championship', 'Dynasty Cup', 'Dakar Tournament',
       'UNCAF Cup', 'Gold Cup', 'USA Cup',
       'Jordan International Tournament', 'Confederations Cup',
       'United Arab Emirates Friendship Tournament',
       'Oceania Nations Cup qualification', 'Simba Tournament',
       'SAFF Cup', 'AFF Championship', 'King Hassan II Tournament',
       'Cyprus International Tournament', 'Dunhill Cup',
       'COSAFA Cup qualification', 'COSAFA Cup', 'Gold Cup qualification',
       'SKN Football Festival', 'UNIFFAC Cup', 'WAFF Championship',
       'Millennium Cup', 'Cup of Ancient Civilizations',
       "Prime Minister's Cup", 'EAFF Championship', 'TIFOCO Tournament',
       'Afro-Asian Games', 'AFC Challenge Cup', 'FIFI Wild Cup',
       'ELF Cup', 'Viva World Cup', 'AFC Challenge Cup qualification',
       'African Nations Championship', 'VFF Cup', 'Dragon Cup',
       'ABCS Tournament', 'Nile Basin Tournament', 'Nations Cup',
       'Copa Confraternidad', 'Pacific Games',
       'Superclásico de las Américas', 'Kirin Challenge Cup', 'OSN Cup',
       'CONIFA World Football Cup', 'CONIFA European Football Cup',
       'Copa América qualification', 'World Unity Cup',
       'Pacific Mini Games', 'Intercontinental Cup',
       'AFF Championship qualification', 'UEFA Nations League',
       'CONCACAF Nations League qualification',
       'African Nations Championship qualification',
       'Atlantic Heritage Cup', 'Inter Games Football Tournament',
       'CONCACAF Nations League', 'Three Nations Cup',
       'Mahinda Rajapaksa Cup', 'Navruz Cup',
       'CONIFA Africa Football Cup', 'CONIFA South America Football Cup',
       "MSG Prime Minister's Cup"], dtype=object)